# Part1: Reading Indicators from World Bank DataCatalog

In [1]:
import pandas as pd

In [2]:
#---- Reading data sets ---- World Bank Indicators
# loading csv file of development indicators as dataframe
indicators_df = pd.read_csv('Resources/WDIData.csv')
indicators_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# cleaning the dataframe to keep only our information of interest
# get rid off spaces in column names
indicators_df.columns =[column.replace(" ", "_") for column in indicators_df.columns]
# reading country codes file, saved from World Bank Website
country_codes = pd.read_csv('Resources/CountryCodes.csv')
# Keep only rows with actual data
country_codes = country_codes.dropna()
# Keep only rows with country codes
e_row = country_codes.index[country_codes['Country_Name'] == 'World'].tolist()
country_codes = country_codes.drop(e_row)
# convert the country codes as a list
countries  = country_codes.ISO3.tolist()
countries

['AFG',
 'ALB',
 'DZA',
 'ASM',
 'AND',
 'AGO',
 'AIA',
 'ATG',
 'ARG',
 'ARM',
 'ABW',
 'AUS',
 'AUT',
 'AZE',
 'BHS',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLX',
 'BLZ',
 'BEN',
 'BMU',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BAT',
 'BRA',
 'IOT',
 'VGB',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'KHM',
 'CMR',
 'CAN',
 'CPV',
 'CYM',
 'CAF',
 'TCD',
 'CHL',
 'CHN',
 'CXR',
 'CCK',
 'COL',
 'COM',
 'ZAR',
 'COG',
 'COK',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CYP',
 'CZE',
 'CSK',
 'DNK',
 'DJI',
 'DMA',
 'DOM',
 'TMP',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'ETH',
 'ETF',
 'EUN',
 'FRO',
 'FLK',
 'FJI',
 'FIN',
 'PCZ',
 'ZW1',
 'TAN',
 'VDR',
 'SVR',
 'ZPM',
 'ATF',
 'FRA',
 'FRE',
 'GUF',
 'PYF',
 'GAB',
 'GMB',
 'GAZ',
 'GEO',
 'DDR',
 'DEU',
 'GHA',
 'GIB',
 'GRC',
 'GRL',
 'GRD',
 'GLP',
 'GUM',
 'GTM',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'VAT',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JTN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'PRK',
 'KOR',
 'KWT',
 'KGZ',
 'LAO',
 'LVA',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'LUX',
 'MAC',
 'MKD',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MHL',
 'MTQ',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MID',
 'MDA',
 'MCO',
 'MNG',
 'MSR',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NRU',
 'NPL',
 'NLD',
 'ANT',
 'NZE',
 'NCL',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NIU',
 'NFK',
 'MNP',
 'NOR',
 'OMN',
 'PCE',
 'PAK',
 'PLW',
 'PAN',
 'PNG',
 'PRY',
 'PMY',
 'PER',
 'PHL',
 'PCN',
 'POL',
 'PRT',
 'PRI',
 'QAT',
 'REU',
 'ROM',
 'RUS',
 'RWA',
 'RYU',
 'SBH',
 'SHN',
 'KN1',
 'SPM',
 'WSM',
 'SMR',
 'STP',
 'SWK',
 'SAU',
 'SEN',
 'SYC',
 'SLE',
 'SIK',
 'SGP',
 'SVK',
 'SVN',
 'SLB',
 'SOM',
 'ZAF',
 'SVU',
 'ESP',
 'SPE',
 'LKA',
 'KNA',
 'LCA',
 'VCT',
 'SDN',
 'SUR',
 'SJM',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TWN',
 'TJK',
 'TZA',
 'THA',
 'TGO',
 'TKL',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'TCA',
 'TUV',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'UNS',
 'URY',
 'USP',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'VIR',
 'WAK',
 'WLF',
 'ESH',
 'YDR',
 'YEM',
 'SER',
 'YUG',
 'ZMB',
 'ZWE']

In [4]:
# list of development indicators of interest
indicators = ['GDP growth (annual %)', 'GNI growth (annual %)','Population, total']
# filtering the dataframe to keep only information corresponding to all the countries and the chosen indicators
indicators_df.query('Indicator_Name == @indicators & Country_Code == @countries', inplace = True)
indicators_df.head(10)

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed:_65
71175,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.275229e+01,5.600745e+00,2.724543e+00,1.451315e+00,2.260314e+00,2.647003e+00,1.189228e+00,3.911603e+00,-2.351101e+00,NaN
71201,Afghanistan,AFG,GNI growth (annual %),NY.GNP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71767,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9.169406e+06,9.351442e+06,9.543200e+06,9.744772e+06,9.956318e+06,...,3.116138e+07,3.226959e+07,3.337080e+07,3.441360e+07,3.538303e+07,3.629611e+07,3.717192e+07,3.804176e+07,3.892834e+07,NaN
72618,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417243e+00,1.002018e+00,1.774449e+00,2.218726e+00,3.314981e+00,3.802227e+00,4.019360e+00,2.113420e+00,-3.955398e+00,NaN
72644,Albania,ALB,GNI growth (annual %),NY.GNP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441817e-01,3.459208e+00,9.909446e-01,2.477906e+00,3.731449e+00,2.449053e+00,3.653887e+00,9.417562e-01,NaN,NaN
73210,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1.659800e+06,1.711319e+06,1.762621e+06,1.814135e+06,1.864791e+06,...,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,2.866376e+06,2.854191e+06,2.837743e+06,NaN
74061,Algeria,DZA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,-1.360544e+01,-1.968504e+01,3.431373e+01,5.839413e+00,6.206898e+00,...,3.400000e+00,2.800000e+00,3.800000e+00,3.700000e+00,3.200000e+00,1.300000e+00,1.100000e+00,1.000000e+00,-5.100000e+00,NaN
74087,Algeria,DZA,GNI growth (annual %),NY.GNP.MKTP.KD.ZG,NaN,-1.040133e+01,-2.484556e+01,2.328765e+01,3.681994e+00,3.638401e+00,...,3.101364e+00,2.122301e+00,3.571831e+00,3.694971e+00,4.623157e+00,8.034515e-01,1.032025e-01,1.033323e+00,-4.593422e+00,NaN
74653,Algeria,DZA,"Population, total",SP.POP.TOTL,11057864.0,1.133634e+07,1.161983e+07,1.191280e+07,1.222168e+07,1.255088e+07,...,3.738390e+07,3.814014e+07,3.892369e+07,3.972802e+07,4.055140e+07,4.138917e+07,4.222842e+07,4.305305e+07,4.385104e+07,NaN
75504,American Samoa,ASM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.334828e+00,-2.500000e+00,1.762821e+00,3.149606e+00,-1.679389e+00,-6.987578e+00,2.671119e+00,-4.878049e-01,3.921569e+00,NaN

In [5]:
# Now we need to filter out the years.
# We are going to make an analysis from 1990-2019
years_to_keep = [str(i) for i in range(1990,2020)]
columns_to_keep = ['Country_Name','Country_Code','Indicator_Name']+ years_to_keep
# final indicators from World Bank DataCatalog
features_df = indicators_df[columns_to_keep]
features_df

,Country_Name,Country_Code,Indicator_Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
71175,Afghanistan,AFG,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.436244e+01,4.263548e-01,1.275229e+01,5.600745e+00,2.724543e+00,1.451315e+00,2.260314e+00,2.647003e+00,1.189228e+00,3.911603e+00
71201,Afghanistan,AFG,GNI growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71767,Afghanistan,AFG,"Population, total",1.241231e+07,1.329902e+07,1.448554e+07,1.581660e+07,1.707573e+07,1.811066e+07,1.885344e+07,...,2.918551e+07,3.011741e+07,3.116138e+07,3.226959e+07,3.337080e+07,3.441360e+07,3.538303e+07,3.629611e+07,3.717192e+07,3.804176e+07
72618,Albania,ALB,GDP growth (annual %),-9.575640e+00,-2.800214e+01,-7.187111e+00,9.559412e+00,8.302867e+00,1.332233e+01,9.099999e+00,...,3.706938e+00,2.545406e+00,1.417243e+00,1.002018e+00,1.774449e+00,2.218726e+00,3.314981e+00,3.802227e+00,4.019360e+00,2.113420e+00
72644,Albania,ALB,GNI growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.306606e+00,3.606888e+00,6.441817e-01,3.459208e+00,9.909446e-01,2.477906e+00,3.731449e+00,2.449053e+00,3.653887e+00,9.417562e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381446,Zambia,ZMB,GNI growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382012,Zambia,ZMB,"Population, total",8.036849e+06,8.246662e+06,8.451346e+06,8.656484e+06,8.869745e+06,9.096608e+06,9.339740e+06,...,1.360599e+07,1.402320e+07,1.446515e+07,1.492655e+07,1.539979e+07,1.587937e+07,1.636345e+07,1.685361e+07,1.735171e+07,1.786103e+07
382863,Zimbabwe,ZWE,GDP growth (annual %),6.988553e+00,5.531782e+00,-9.015570e+00,1.051459e+00,9.235199e+00,1.580257e-01,1.036070e+01,...,1.967532e+01,1.419391e+01,1.666543e+01,1.989493e+00,2.376929e+00,1.779873e+00,7.558693e-01,4.709492e+00,4.824211e+00,-6.144236e+00
382889,Zimbabwe,ZWE,GNI growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.991640e+01,1.368983e+01,1.668240e+01,2.172823e+00,2.127321e+00,1.501218e+00,6.742296e-01,4.907110e+00,5.094696e+00,NaN
383455,Zimbabwe,ZWE,"Population, total",1.043241e+07,1.068101e+07,1.090051e+07,1.109278e+07,1.126175e+07,1.141072e+07,1.154122e+07,...,1.269773e+07,1.289432e+07,1.311515e+07,1.335038e+07,1.358671e+07,1.381464e+07,1.403034e+07,1.423660e+07,1.443881e+07,1.464547e+07

# Reading Human Development Index from UN Website

In [6]:
import pandas as pd
# loading csv file of development indicators as dataframe
hdi_df = pd.read_csv('Resources/HumanDevelopmentIndex (HDI).csv', sep=',')
hdi_df = hdi_df.dropna(how='all', axis=1)
hdi_df

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,69,Albania,0.650,0.631,0.615,0.618,0.624,0.637,0.646,0.645,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,91,Algeria,0.572,0.576,0.582,0.586,0.590,0.595,0.602,0.611,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,148,Angola,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528,0.538
203,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723,0.728
204,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895,0.900
205,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731,0.737
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
hdi_df["Country"].values

array([' Afghanistan', ' Albania', ' Algeria', ' Andorra', ' Angola',
       ' Antigua and Barbuda', ' Argentina', ' Armenia', ' Australia',
       ' Austria', ' Azerbaijan', ' Bahamas', ' Bahrain', ' Bangladesh',
       ' Barbados', ' Belarus', ' Belgium', ' Belize', ' Benin',
       ' Bhutan', ' Bolivia (Plurinational State of)',
       ' Bosnia and Herzegovina', ' Botswana', ' Brazil',
       ' Brunei Darussalam', ' Bulgaria', ' Burkina Faso', ' Burundi',
       ' Cabo Verde', ' Cambodia', ' Cameroon', ' Canada',
       ' Central African Republic', ' Chad', ' Chile', ' China',
       ' Colombia', ' Comoros', ' Congo',
       ' Congo (Democratic Republic of the)', ' Costa Rica', ' Croatia',
       ' Cuba', ' Cyprus', ' Czechia', " Cï¿½te d'Ivoire", ' Denmark',
       ' Djibouti', ' Dominica', ' Dominican Republic', ' Ecuador',
       ' Egypt', ' El Salvador', ' Equatorial Guinea', ' Eritrea',
       ' Estonia', ' Eswatini (Kingdom of)', ' Ethiopia', ' Fiji',
       ' Finland', ' France', ' Gabon', ' Gambia', ' Georgia', ' Germany',
       ' Ghana', ' Greece', ' Grenada', ' Guatemala', ' Guinea',
       ' Guinea-Bissau', ' Guyana', ' Haiti', ' Honduras',
       ' Hong Kong, China (SAR)', ' Hungary', ' Iceland', ' India',
       ' Indonesia', ' Iran (Islamic Republic of)', ' Iraq', ' Ireland',
       ' Israel', ' Italy', ' Jamaica', ' Japan', ' Jordan',
       ' Kazakhstan', ' Kenya', ' Kiribati', ' Korea (Republic of)',
       ' Kuwait', ' Kyrgyzstan', " Lao People's Democratic Republic",
       ' Latvia', ' Lebanon', ' Lesotho', ' Liberia', ' Libya',
       ' Liechtenstein', ' Lithuania', ' Luxembourg', ' Madagascar',
       ' Malawi', ' Malaysia', ' Maldives', ' Mali', ' Malta',
       ' Marshall Islands', ' Mauritania', ' Mauritius', ' Mexico',
       ' Micronesia (Federated States of)', ' Moldova (Republic of)',
       ' Mongolia', ' Montenegro', ' Morocco', ' Mozambique', ' Myanmar',
       ' Namibia', ' Nepal', ' Netherlands', ' New Zealand', ' Nicaragua',
       ' Niger', ' Nigeria', ' North Macedonia', ' Norway', ' Oman',
       ' Pakistan', ' Palau', ' Palestine, State of', ' Panama',
       ' Papua New Guinea', ' Paraguay', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Qatar', ' Romania',
       ' Russian Federation', ' Rwanda', ' Saint Kitts and Nevis',
       ' Saint Lucia', ' Saint Vincent and the Grenadines', ' Samoa',
       ' Sao Tome and Principe', ' Saudi Arabia', ' Senegal', ' Serbia',
       ' Seychelles', ' Sierra Leone', ' Singapore', ' Slovakia',
       ' Slovenia', ' Solomon Islands', ' South Africa', ' South Sudan',
       ' Spain', ' Sri Lanka', ' Sudan', ' Suriname', ' Sweden',
       ' Switzerland', ' Syrian Arab Republic', ' Tajikistan',
       ' Tanzania (United Republic of)', ' Thailand', ' Timor-Leste',
       ' Togo', ' Tonga', ' Trinidad and Tobago', ' Tunisia', ' Turkey',
       ' Turkmenistan', ' Uganda', ' Ukraine', ' United Arab Emirates',
       ' United Kingdom', ' United States', ' Uruguay', ' Uzbekistan',
       ' Vanuatu', ' Venezuela (Bolivarian Republic of)', ' Viet Nam',
       ' Yemen', ' Zambia', ' Zimbabwe', 'Human Development',
       'Very high human development', 'High human development',
       'Medium human development', 'Low human development',
       'Developing Countries', 'Regions', 'Arab States',
       'East Asia and the Pacific', 'Europe and Central Asia',
       'Latin America and the Caribbean', 'South Asia',
       'Sub-Saharan Africa', 'Least Developed Countries',
       'Small Island Developing States',
       'Organization for Economic Co-operation and Development', 'World',
       nan], dtype=object)

In [7]:
last_i = hdi_df.index[hdi_df['Country'] == ' Zimbabwe'].tolist()
hdi_df = hdi_df.iloc[0:last_i[0]+1]
hdi_df

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,69,Albania,0.650,0.631,0.615,0.618,0.624,0.637,0.646,0.645,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,91,Algeria,0.572,0.576,0.582,0.586,0.590,0.595,0.602,0.611,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,148,Angola,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,113,Venezuela (Bolivarian Republic of),0.644,0.654,0.660,0.662,0.662,0.666,0.668,0.670,...,0.757,0.769,0.772,0.777,0.775,0.769,0.759,0.743,0.733,0.711
185,117,Viet Nam,0.483,0.493,0.504,0.514,0.525,0.537,0.548,0.547,...,0.661,0.671,0.676,0.681,0.683,0.688,0.693,0.696,0.700,0.704
186,179,Yemen,0.401,0.401,0.404,0.406,0.408,0.414,0.421,0.426,...,0.506,0.506,0.504,0.509,0.502,0.483,0.474,0.467,0.468,0.470
187,146,Zambia,0.421,0.417,0.416,0.419,0.414,0.415,0.416,0.416,...,0.527,0.534,0.549,0.557,0.561,0.569,0.571,0.578,0.582,0.584
188,150,Zimbabwe,0.478,0.481,0.467,0.463,0.460,0.453,0.453,0.447,...,0.482,0.499,0.525,0.537,0.547,0.553,0.558,0.563,0.569,0.571

## Joining the two data sets

In [8]:
# Before joining the two data sets, we need to reshape the tables such that the indicators will be columns and the
# years will be rows
# Convert Years columns (1990-2019) of features dataframe(WB Indicators) to Rows
df = features_df.melt(id_vars=["Country_Name","Country_Code", "Indicator_Name"], var_name="Year", value_name="Value")
# Convert Indicators Rows to Columns using Pivot Table
df_pivot = df.pivot_table('Value',['Country_Name','Country_Code','Year'],'Indicator_Name')
# Convert Multindex pivot table to a dataframe again 
features_df = pd.DataFrame(df_pivot.to_records())
features_df

,Country_Name,Country_Code,Year,GDP growth (annual %),GNI growth (annual %),"Population, total"
0,Afghanistan,AFG,1990,NaN,NaN,12412311.0
1,Afghanistan,AFG,1991,NaN,NaN,13299016.0
2,Afghanistan,AFG,1992,NaN,NaN,14485543.0
3,Afghanistan,AFG,1993,NaN,NaN,15816601.0
4,Afghanistan,AFG,1994,NaN,NaN,17075728.0
...,...,...,...,...,...,...
6106,Zimbabwe,ZWE,2015,1.779873,1.501218,13814642.0
6107,Zimbabwe,ZWE,2016,0.755869,0.674230,14030338.0
6108,Zimbabwe,ZWE,2017,4.709492,4.907110,14236599.0
6109,Zimbabwe,ZWE,2018,4.824211,5.094696,14438812.0
6110,Zimbabwe,ZWE,2019,-6.144236,NaN,14645473.0

In [9]:
# Convert Years columns (1990-2019) to Rows
hdi_df = hdi_df.melt(id_vars=['Country','HDI Rank'], var_name = "Year", value_name = "HDI")
hdi_df

                                  Country HDI Rank  Year    HDI
0                             Afghanistan      169  1990  0.302
1                                 Albania       69  1990  0.650
2                                 Algeria       91  1990  0.572
3                                 Andorra       36  1990     ..
4                                  Angola      148  1990     ..
...                                   ...      ...   ...    ...
5665   Venezuela (Bolivarian Republic of)      113  2019  0.711
5666                             Viet Nam      117  2019  0.704
5667                                Yemen      179  2019  0.470
5668                               Zambia      146  2019  0.584
5669                             Zimbabwe      150  2019  0.571

[5670 rows x 4 columns]

In [16]:
#hdi_df = hdi_df.set_index('Country')
#features_df = features_df.set_index('Country_Name')
join_inds = hdi_df.merge(features_df)

In [17]:
join_inds.dtypes

HDI Rank                  object
Year                      object
HDI                       object
Country_Code              object
GDP growth (annual %)    float64
GNI growth (annual %)    float64
Population, total        float64
dtype: object