# Cleaning Olympic Games Data

In [1]:
# Import modules 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
# Read csv file
df = pd.read_csv('Resources/athlete_events.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [3]:
# keep only entries where a medal was won
onlyMedals_df = df[df['Medal'].notna()]
onlyMedals_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [4]:
# Keep only information for summer olympic games since 1990 
df1 = onlyMedals_df[(onlyMedals_df['Year']>= 1990) & (onlyMedals_df['Season']== 'Summer')]
df1 = df1.loc[:,['Team','NOC','Year','Medal']]
df1

               Team  NOC  Year   Medal
79           Norway  NOR  2008    Gold
92      Netherlands  NED  1996  Silver
105          Norway  NOR  1996  Bronze
158           Italy  ITA  2016  Bronze
159           Spain  ESP  2008  Bronze
...             ...  ...   ...     ...
271032  Netherlands  NED  1996  Bronze
271048  Netherlands  NED  1992  Bronze
271049  Netherlands  NED  1996    Gold
271102       Russia  RUS  2000  Bronze
271103       Russia  RUS  2004  Silver

[13571 rows x 4 columns]

In [5]:
# Separate the column Medal into three columns depending on the row-values, so there are a column by kind of medal
olympic_table = pd.pivot_table(df1, index = ['Year', 'NOC', 'Team'], columns = 'Medal', aggfunc='size')
olympic_table

Medal                     Bronze  Gold  Silver
Year NOC Team
1992 ALG Algeria             1.0   1.0     NaN
     ARG Argentina           2.0   NaN     NaN
     AUS Australia          16.0  14.0    27.0
     AUT Austria             NaN   NaN     6.0
     BAH Bahamas             1.0   NaN     NaN
...                          ...   ...     ...
2016 USA United States-1     2.0   NaN     2.0
         United States-2     2.0   2.0     NaN
     UZB Uzbekistan          7.0   4.0     2.0
     VEN Venezuela           2.0   NaN     1.0
     VIE Vietnam             NaN   1.0     1.0

[653 rows x 3 columns]

In [8]:
# Transform the pivot table to a dataframe and fill NaN values in medal columns with zero
olympic_medals = pd.DataFrame(olympic_table.to_records())
olympic_medals[["Bronze","Gold","Silver"]] = olympic_medals[["Bronze","Gold","Silver"]].fillna(value=0)
olympic_medals

     Year  NOC             Team  Bronze  Gold  Silver
0    1992  ALG          Algeria     1.0   1.0     0.0
1    1992  ARG        Argentina     2.0   0.0     0.0
2    1992  AUS        Australia    16.0  14.0    27.0
3    1992  AUT          Austria     0.0   0.0     6.0
4    1992  BAH          Bahamas     1.0   0.0     0.0
..    ...  ...              ...     ...   ...     ...
648  2016  USA  United States-1     2.0   0.0     2.0
649  2016  USA  United States-2     2.0   2.0     0.0
650  2016  UZB       Uzbekistan     7.0   4.0     2.0
651  2016  VEN        Venezuela     2.0   0.0     1.0
652  2016  VIE          Vietnam     0.0   1.0     1.0

[653 rows x 6 columns]

In [9]:
# Calculate the total count of medals and save it into a new column - totalCount
total_medals = [row.Bronze + row.Gold + row.Silver for index, row in olympic_medals.iterrows()]
olympic_medals['TotalCount'] = total_medals
olympic_medals

     Year  NOC             Team  Bronze  Gold  Silver  TotalCount
0    1992  ALG          Algeria     1.0   1.0     0.0         2.0
1    1992  ARG        Argentina     2.0   0.0     0.0         2.0
2    1992  AUS        Australia    16.0  14.0    27.0        57.0
3    1992  AUT          Austria     0.0   0.0     6.0         6.0
4    1992  BAH          Bahamas     1.0   0.0     0.0         1.0
..    ...  ...              ...     ...   ...     ...         ...
648  2016  USA  United States-1     2.0   0.0     2.0         4.0
649  2016  USA  United States-2     2.0   2.0     0.0         4.0
650  2016  UZB       Uzbekistan     7.0   4.0     2.0        13.0
651  2016  VEN        Venezuela     2.0   0.0     1.0         3.0
652  2016  VIE          Vietnam     0.0   1.0     1.0         2.0

[653 rows x 7 columns]

In [11]:
# Reorganize order of columns and rename some of them
cols = ['Year','NOC','Team', 'Gold','Silver','Bronze','TotalCount']
olympic_df = olympic_medals[cols]
olympic_df.rename(columns={'NOC':'CountryCode', 'Team':'Country'}, inplace=True)
olympic_df

     Year CountryCode          Country  Gold  Silver  Bronze  TotalCount
0    1992         ALG          Algeria   1.0     0.0     1.0         2.0
1    1992         ARG        Argentina   0.0     0.0     2.0         2.0
2    1992         AUS        Australia  14.0    27.0    16.0        57.0
3    1992         AUT          Austria   0.0     6.0     0.0         6.0
4    1992         BAH          Bahamas   0.0     0.0     1.0         1.0
..    ...         ...              ...   ...     ...     ...         ...
648  2016         USA  United States-1   0.0     2.0     2.0         4.0
649  2016         USA  United States-2   2.0     0.0     2.0         4.0
650  2016         UZB       Uzbekistan   4.0     2.0     7.0        13.0
651  2016         VEN        Venezuela   0.0     1.0     2.0         3.0
652  2016         VIE          Vietnam   1.0     1.0     0.0         2.0

[653 rows x 7 columns]

# Export data to Sql database

In [ ]:
## Add the code to create the connection to the PostgrSQL db

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/OlympicAnalysis_FP"
#Create the database engine
engine = create_engine(db_string) 
    
## Add movies_df to a SQL db
olympic_df.to_sql(name = 'Olympics', con = engine, if_exists = 'replace', index = False)